<h1 mat-dialog-title class="fight-text text-center">Choose your fighter</h1>
<div mat-dialog-content>
	<mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
	<mat-list>
		<mat-list-item>
			<span class="blue">Total characters:</span>&nbsp;{{ totalCharacters }}
		</mat-list-item>
		<mat-list-item *ngFor="let character of characters">
	    <div mat-line>Name: {{character.characterBaseMetadata.name}}</div>
	    <div mat-line>Description: {{character.characterBaseMetadata.description}} </div>
	    <div mat-line>
	    	Birthdate: {{character.characterBaseMetadata.birthdate}} |
	    	Planet: {{ planetsNames[character.characterBaseMetadata.planetId] }} |
	    	Genre: {{ genderNames[character.characterBaseMetadata.genre] }} |
	    	Element: {{ elementsOfNature[character.characterAttributesMetadata.primaryElement] }} 
	    </div>
	    <div mat-line>
	    	Life: {{character.characterAttributesMetadata.life}} |
	    	Armor: {{character.characterAttributesMetadata.armor}} |
	    	Strength: {{character.characterAttributesMetadata.strength}} |
	    	Speed: {{character.characterAttributesMetadata.speed}} |
	    	Luck: {{character.characterAttributesMetadata.luck}} |
	    	Spirit: {{character.characterAttributesMetadata.spirit}} |
	    	Level: {{character.characterAttributesMetadata.level}} |
	    	SP: {{character.characterAttributesMetadata.extraSkillsPoints}}
	    </div>
	    <div mat-line></div>
	    <button mat-icon-button class="btn-accept-request" [disabled]="disableButtons" (click)="acceptFight(character.id)">
        <mat-icon>sports_kabaddi</mat-icon>
     	</button>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-list>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>