
.fight-text {
	color: #FFF;
	font-family: 'Potta One', cursive;
	text-shadow: 2px 2px 5px red;
	margin-bottom: 20px;
}

.btn-accept-request {
	color: yellow;
}

.btn-accept-request:disabled {
	color: gray;

}