<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="about-container fadeInTransparent" *ngIf="!loading">
	
		<div class="col-6 text-center">
			 <img width="300px" src="./assets/img/tomMedium.png" alt="Tom" title="Tom">
		</div>
		<div class="col-6 text-center">
			<mat-card>
				 <h3 class="text-center">
						 About 
					</h3>
					<h1 class="ethereal-title text-center">Ethereal's Chronicles</h1>
					<h3 class="text-center">
						 Contract's info:
					</h3>
					<div class="text-left">
						<mat-list>
							<mat-list-item><span class="blue">EtherealGame:</span>&nbsp;{{ etherealGameContractAddress }} </mat-list-item>
							<mat-list-item><span class="blue">EtherealCharacter:</span>&nbsp;{{ etherealCharacterContractAddress }} </mat-list-item>
							<mat-list-item><span class="blue">KopernikToken:</span>&nbsp;{{ kopernikContractAddress }} </mat-list-item>

							<mat-list-item><span class="blue">Total players:</span>&nbsp;{{ totalPlayers }} </mat-list-item>
						</mat-list>
						 
					</div>
			</mat-card>
		</div>
		
	
</div>
