.fights-container {
	padding: 20px;
}

mat-card {
	padding: 20px;
}

.ethereal-text {
	color: #FFF;
	font-family: 'Potta One', cursive;
	text-shadow: 2px 2px 5px #32edff;
	margin-bottom: 20px;
}

.list-fights-tools {
	margin-top: 20px;
	padding: 10px;
}