<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="characters-container fadeInTransparent" *ngIf="!loading">
	
		<div class="col-6 text-center">
			 <img width="300px" src="./assets/img/ihor.png" alt="Ihor" title="Ihor">
		</div>
		<div class="col-6 text-center">
			<mat-card>
					<div class="list-characters-tools text-right">
						 <button routerLink="new" mat-raised-button color="accent">
						 	<mat-icon>create</mat-icon> CREATE NEW</button>
						 &nbsp;
						 <button routerLink="/home" mat-raised-button color="warn">
						 	<mat-icon>navigate_before</mat-icon> RETURN HOME</button>
					</div>
					<h1 class="ethereal-text text-center">My Ethereal's Characters</h1>
					<div class="text-left">
						<mat-list>
							<mat-list-item>
								<span class="blue">Total characters:</span>&nbsp;{{ totalCharacters }}
							</mat-list-item>
							<mat-list-item *ngFor="let character of characters">
						    <div mat-line>Name: {{character.characterBaseMetadata.name}}</div>
						    <div mat-line>Description: {{character.characterBaseMetadata.description}} </div>
						    <div mat-line>
						    	Birthdate: {{character.characterBaseMetadata.birthdate}} |
						    	Planet: {{ planetsNames[character.characterBaseMetadata.planetId] }} |
						    	Genre: {{ genderNames[character.characterBaseMetadata.genre] }} |
						    	Element: {{ elementsOfNature[character.characterAttributesMetadata.primaryElement] }} 
						    </div>
						    <div mat-line>
						    	Life: {{character.characterAttributesMetadata.life}} |
						    	Armor: {{character.characterAttributesMetadata.armor}} |
						    	Strength: {{character.characterAttributesMetadata.strength}} |
						    	Speed: {{character.characterAttributesMetadata.speed}} |
						    	Luck: {{character.characterAttributesMetadata.luck}} |
						    	Spirit: {{character.characterAttributesMetadata.spirit}} |
						    	Level: {{character.characterAttributesMetadata.level}} |
						    	SP: {{character.characterAttributesMetadata.extraSkillsPoints}}
						    </div>
						    <div mat-line></div>
						    <button mat-icon-button color="accent">
					        <mat-icon>info</mat-icon>
					     	</button>
  							<mat-divider></mat-divider>
							</mat-list-item>
						</mat-list>
						 
					</div>
			</mat-card>
		</div>
		
	
</div>
