/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}


.col-4 {
	float: left;
	width: 33.3%;
}

.col-6 {
	float: left;
	width: 50%;
}


@media only screen and (max-width: 768px) {
	.col-4, .col-6 {
		width: 100%;
		margin: 0 auto;
	}

}

.green {
	color: #69f0ae;
}

.mat-snack-bar-container.error{
	background-color: #f44336;
	color: #FFF;
}

.mat-snack-bar-container.success{
	background-color: #69f0ae;
	color: rgba(0,0,0,.87);
}


/* FADE IN */
.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

}

.fadeInTransparent {
  -webkit-animation: fadeintransparent 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeintransparent 1s; /* Firefox < 16 */
  -ms-animation: fadeintransparent 1s; /* Internet Explorer */
  -o-animation: fadeintransparent 1s; /* Opera < 12.1 */
  animation: fadeintransparent 1s;

}

/* FADE IN */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* /FADE IN */


/* FADE IN */
@keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Firefox < 16 */
@-moz-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Internet Explorer */
@-ms-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Opera < 12.1 */
@-o-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* /FADE IN */