<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="main-container fadeInTransparent" *ngIf="!isLoggedIn && !loading">
	<div class="col-4 text-center mt-80 hide-xs">
		<img width="80%" src="./assets/img/baalEnkiSmall.png" alt="Baal Enki" title="Baal Enki">
	</div>
	<div class="col-4">
		<div class="ethereal-logo text-center">
			<img width="100%" src="./assets/img/cronLogoMedium.png" alt="Ethereal" title="Ethereal">
		</div>
		<div class="text-center">
			 <button class="btn-start" (click)="start()" mat-raised-button color="primary"><mat-icon>power_settings_new</mat-icon> START</button>
		</div>
	</div>
	<div class="col-4 text-center mt-40 hide-xs">
		<img width="50%" src="./assets/img/terminatorSmall.png" alt="Terminator" title="Terminator">
	</div>
</div>

<div class="main-container fadeInTransparent" *ngIf="isLoggedIn && !loading">
	<mat-card class="main-container-card">
		<mat-progress-bar color="accent" mode="indeterminate" *ngIf="registerFormProcessing"></mat-progress-bar>
		<div class="home-tools text-right">
			 <button (click)="start()" mat-raised-button color="accent">
			 	<mat-icon>change_circle</mat-icon> CHANGE WALLET</button>
			 &nbsp;
			 <button (click)="logout()" mat-raised-button color="warn">
			 	<mat-icon>logout</mat-icon> LOG OUT</button>
		</div>
		<div class="text-center" *ngIf="isRegistered">
			 <h1>WELCOME BACK <span class="ethereal-text">{{etherealPlayerName}}</span></h1>
			 
			 <span class="blue">Balance in contract:</span>&nbsp;{{ balanceInContract }} Koperniks
				<button mat-button color="accent" (click)="modalAllowance()">
	        <mat-icon>add</mat-icon> Allow more
	     	</button>

			 <mat-list>
					<mat-list-item><span class="blue">Wins:</span>&nbsp;{{ wins }} </mat-list-item>
					<mat-list-item><span class="blue">Loss:</span>&nbsp;{{ loss }} </mat-list-item>
					<mat-list-item><span class="blue">Ties:</span>&nbsp;{{ tie }} </mat-list-item>
					<mat-list-item><span class="blue">Gaveup:</span>&nbsp;{{ gaveup }} </mat-list-item>
				</mat-list>
				<div class="menu-options-priv">
					<div class="col-6">
						<button class="menu-option-priv-btn" routerLink="/characters" mat-raised-button color="primary">
						 	<mat-icon>hail</mat-icon> MY CHARACTERS
						</button>
					</div>
					<div class="col-6">
						<button class="menu-option-priv-btn" routerLink="/fight" mat-raised-button color="accent">
						 	<mat-icon>bolt</mat-icon> FIGHT
						</button>
					</div>
				</div>
				
		</div>

		<div class="container-register text-center" *ngIf="!isRegistered">
			 <h1>Welcome to Ethereal!</h1>
			 <p>
			 The first step in Ethereal is to register. Please fill the next form to create your account as an Ethereal Player:
			</p>
			<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
				<div class="form-container">
					<mat-form-field appearance="fill" color="accent">
						<mat-label>Enter your nickname</mat-label>
						<input matInput maxlength="16" required formControlName="nickname">
						<mat-error>*Required</mat-error>
					</mat-form-field>
				</div>
				<div class="text-center">
					<button mat-raised-button color="accent" [disabled]="!registerForm.valid || registerFormProcessing">
				 	<mat-icon>save</mat-icon> REGISTER</button>
				</div>

			</form>
			 
		</div>
	</mat-card>
</div>
