<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="main-container">
	<div class="col-4 text-center mt-80 hide-xs">
		<img width="80%" src="./assets/img/baalEnkiSmall.png" alt="Baal Enki" title="Baal Enki">
	</div>
	<div class="col-4">
		<div class="ethereal-logo text-center">
			<img width="100%" src="./assets/img/cronLogoMedium.png" alt="Ethereal" title="Ethereal">
		</div>
		<div class="text-center">
			 <button class="btn-start" (click)="start()" mat-raised-button color="primary"><mat-icon>power_settings_new</mat-icon> START</button>
		</div>
	</div>
	<div class="col-4 text-center mt-40 hide-xs">
		<img width="50%" src="./assets/img/terminatorSmall.png" alt="Terminator" title="Terminator">
	</div>
</div>
