<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="fight-container fadeInTransparent" *ngIf="!loading">

	<div class="col-center">
		<mat-card>
				<div class="new-fight-tools text-right">
					 <button routerLink="/characters" mat-raised-button color="warn">
					 	<mat-icon>navigate_before</mat-icon> RETURN</button>
				</div>
				<h1 class="ethereal-text text-center">CHOOSE YOUR FIGHTER</h1>
				<div class="text-left">
					<mat-list>
						<mat-list-item>
							<span class="blue">Total characters created:</span>&nbsp;{{ totalCharacters }}
						</mat-list-item>
						<mat-list-item *ngFor="let character of characters">
					    <div mat-line><span class="blue">Name:</span> {{character.characterBaseMetadata.name}}</div>
					    <div mat-line><span class="blue">Description:</span> {{character.characterBaseMetadata.description}} </div>
					    <div mat-line>
					    	<span class="blue">Birthdate:</span> {{character.characterBaseMetadata.birthdate}} |
					    	<span class="blue">Planet:</span> {{ planetsNames[character.characterBaseMetadata.planetId] }} |
					    	<span class="blue">Genre:</span> {{ genderNames[character.characterBaseMetadata.genre] }} |
					    	<span class="blue">Element:</span> {{ elementsOfNature[character.characterAttributesMetadata.primaryElement] }} 
					    </div>
					    <div mat-line>
					    	<span class="blue">Life:</span> {{character.characterAttributesMetadata.life}} |
					    	<span class="blue">Armor:</span> {{character.characterAttributesMetadata.armor}} |
					    	<span class="blue">Strength:</span> {{character.characterAttributesMetadata.strength}} |
					    	<span class="blue">Speed:</span> {{character.characterAttributesMetadata.speed}} |
					    	<span class="blue">Luck:</span> {{character.characterAttributesMetadata.luck}} |
					    	<span class="blue">Spirit:</span> {{character.characterAttributesMetadata.spirit}} |
					    	<span class="blue">Level:</span> {{character.characterAttributesMetadata.level}} |
					    	<span class="blue">SP:</span> {{character.characterAttributesMetadata.extraSkillsPoints}}
					    </div>
					    <div mat-line></div>
					    <button mat-icon-button style="color: yellow" (click)="modalSearchOpponent(character.id)">
				        <mat-icon>sports_kabaddi</mat-icon>
				     </button>
							<mat-divider></mat-divider>
						</mat-list-item>
					</mat-list>
					 
				</div>
		</mat-card>
	</div>
		
	
</div>
